.spin_result {
  position: fixed;
  background: #000000c2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 111;
  display: flex;
}
.spin_result_wrapper {
  margin: 0 auto;
  margin-top: 200px;
}
.spin_result_item_bg {
  background: #0333ab;
  border-radius: 50%;
}
.spin_result_item_image,
.spin_result_wrapper {
  position: relative;
}
.spin_result_item_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.spin_result_item_image {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spin_result_item-image {
  position: relative;
  width: 180px;
}

.spin_result_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spin_result_item_description p {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.spin_result_item_cost p {
  text-align: center;
  color: #ddff00;
  margin-top: 5px;
}

.spin_result_item_id h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  color: #26ff00;
}
.retry_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.retry_btn button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  background: #242c54;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

.spin_result_item_description {
  position: relative;
}

.winned_block_actions_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  margin-top: 30px;
  margin-left: -55px;
}
.winned_block_actions button {
  padding: 16px 32px;
  border: none;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #191d3e;
  text-transform: uppercase;
  border-radius: 8px;
  line-height: 20px; /* 125% */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.restart_roulette_btn button {
  background: var(--Positive, #69dd89);
}
.sell_prize_btn button {
  background: #f7a34d;
}
.share_winned_process_btn button {
  background: green;
}
.case_opening_process_btn img {
  width: 25px;
}
