.top_nav {
  width: 100%;
  background: #10162c;
}

.top_nav_wrapper {
  display: flex;
  width: 100%;
  padding: 13px 16px;
  justify-content: space-between;
  align-items: center;
}

.top_nav_left_list {
  display: flex;
  align-items: center;
}
.top_nav_left_item {
  margin-right: 24px;
}
.top_nav_left_item p {
  color: #7f8bad;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.4s ease;
}
.top_nav_left_item p:hover {
  transition: all 0.4s ease;
  color: #f7a34d;
}
.active .top_nav_left_item p {
  transition: all 0.4s ease;
  color: #f7a34d;
  fill: #f7a34d;
}
.top_nav_right_list {
  display: flex;
  align-items: center;
}
.top_nav_right_list div:last-child {
  margin-left: 14px;
}

.top_nav .main_logo,
.top_nav .nav_profile {
  display: none;
}
@media only screen and (max-width: 820px) {
  .top_nav .top_nav_left_list,
  .top_nav .top_nav_right_list {
    display: none;
  }
  .top_nav .main_logo,
  .top_nav .nav_profile {
    display: flex;
  }
  .mob_menu_icon {
    cursor: pointer;
    margin-left: 8px;
  }
}

@media only screen and (max-width: 520px) {
  .main_logo_desctop {
  display: none;
  }
  .main_logo_mobile {
    display: block;
  }
  .best_drop, .left_live_buttons {
    display: none;
  }
  .top_nav_wrapper {
    padding: 8px 16px;
  }
}