@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #191d3e;
}

a {
  text-decoration: none;
}

.modal_overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 111;
  background: #00000098;
}

a,
p,
div,
img,
h1,
span {
  -webkit-tap-highlight-color: transparent;
}
button {
  cursor: pointer;
}

.page_template {
  width: 1200px;
  margin: 0 auto;
  padding-top: 32px;
}
.tgme_widget_login.large button.tgme_widget_login_button {
  font-size: 0px !important;
  line-height: 0px !important;
  width: 44px !important;
  height: 43px !important;
}

/* Отключение желтого фона в Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff4d !important;
}

.main_btn_temp {
  padding: 16px 32px;
  border-radius: 8px;
  background: #69dd89;
  border: none;
  color: #191d3e;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
