@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #191d3e;
}

a {
  text-decoration: none;
}

.modal_overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 111;
  background: #00000098;
}

a,
p,
div,
img,
h1,
span {
  -webkit-tap-highlight-color: transparent;
}

.page_template {
  width: 1200px;
  margin: 0 auto;
}
.tgme_widget_login.large button.tgme_widget_login_button {
  font-size: 0px !important;
  line-height: 0px !important;
  width: 44px !important;
  height: 43px !important;
}
